<div class="table-container" [ngStyle]="{'max-height': maxHeight, 'max-width': maxWidth}">
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col" *ngIf="showCheckboxColumn">#</th>
        <th *ngFor="let column of columns" (click)="onHeaderClick(column.key)">
          {{ column.displayText }}
          <i *ngIf="sortColumn === column.key && sortDirection === 'asc'" class="bi bi-arrow-up"></i>
          <i *ngIf="sortColumn === column.key && sortDirection === 'desc'" class="bi bi-arrow-down"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of displayedData; let i = index" (click)="onRowClick(i + ((currentPaginationPage - 1) * itemsPerPage), row)"
        [class.highlight]="selectedRowIndex === i">
        <th scope="row" *ngIf="showCheckboxColumn">
          <input type="checkbox" [checked]="row.selected" (change)="toggleCheckbox(row)" />
        </th>
        <td *ngFor="let column of columns">{{ row[column.key] }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination controls -->
  <div class="pagination-controls" style="text-align: right;">
    <button type="button" class="btn btn-primary btn-sm" (click)="changePages(currentPaginationPage - 1)" [disabled]="currentPaginationPage === 1">Previous</button>
    <span class="m-1">{{ currentPaginationPage }}</span>
    <button type="button" class="btn btn-primary btn-sm" (click)="changePages(currentPaginationPage + 1)" [disabled]="currentPaginationPage === totalPages">Next</button>
  </div>
</div>
