.highlight {
    background-color: #315272;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
    padding: 0.20rem;
    border: 1px solid #dee2e6;
}

.table > thead > tr > th {
    border: 1px solid #dee2e6;
    background-color: #f0f0f0; /* Lighter background color for the header */
    color: #000; /* Header text color */
    font-weight: bold; /* Bold text for the header */
}

.table {
    font-size: 0.875rem;
    border-collapse: collapse;
}

.table-container {
    position: relative;
    overflow: auto;
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.table th,
.table td {
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    :host {
        max-width: 90%;
        max-height: 65vh;
    }
}

@media only screen and (max-width: 480px) {
    :host {
        max-width: 100%;
        max-height: 60vh;
    }
}
