<div class="main-content">
    <div class="modal-content">
        <h4>Adding Practice</h4>
        <form [formGroup]="practiceForm" (ngSubmit)="onAddPractice()">
          <div class="row">
            <label for="name" class="col-sm-1 col-form-label">DsoId:</label>
            <div class="col-sm-5">
               <input type="text" class="form-control form-control-sm" id="dsoId" formControlName="dsoId" placeholder="DsoId">
            </div>
         </div>
    
           <div class="row">
               <label for="name" class="col-sm-1 col-form-label">Name:</label>
               <div class="col-sm-5">
                  <input type="text" class="form-control form-control-sm" id="name" formControlName="name" placeholder="Name">
               </div>
            </div>
    
            <div class="row">
                <label for="name" class="col-sm-1 col-form-label">Address:</label>
                <div class="col-sm-5">
                   <input type="text" class="form-control form-control-sm" id="address" formControlName="address" placeholder="Address">
                </div>
            </div>
    
            <div class="row">
                <label for="name" class="col-sm-1 col-form-label">City:</label>
                <div class="col-sm-5">
                   <input type="text" class="form-control form-control-sm" id="city" formControlName="city" placeholder="City">
                </div>
            </div>
    
            <div class="row">
                <label for="name" class="col-sm-1 col-form-label">State:</label>
                <div class="col-sm-5">
                   <input type="text" class="form-control form-control-sm" id="state" formControlName="state" placeholder="State">
                </div>
            </div>
    
            <div class="row">
                <label for="name" class="col-sm-1 col-form-label">Zipcode:</label>
                <div class="col-sm-5">
                   <input type="text" class="form-control form-control-sm" id="zipcode" formControlName="zipcode" placeholder="Zipcode">
                </div>
            </div>
    
            <div class="row">
                <label for="name" class="col-sm-1 col-form-label">Phone#:</label>
                <div class="col-sm-5">
                   <input type="text" class="form-control form-control-sm" id="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number">
                </div>
            </div>
    
            <div class="row">
                <label for="name" class="col-sm-1 col-form-label">Zone:</label>
                <div class="col-sm-5">
                   <input type="text" class="form-control form-control-sm" id="zone" formControlName="zone" placeholder="Zone">
                </div>
            </div>
    
            <div class="row">
                <label for="name" class="col-sm-1 col-form-label">Longitude:</label>
                <div class="col-sm-5">
                   <input type="text" class="form-control form-control-sm" id="longitude" formControlName="longitude" placeholder="Longitude">
                </div>
            </div>
    
            <div class="row">
                <label for="name" class="col-sm-1 col-form-label">Latitude:</label>
                <div class="col-sm-5">
                   <input type="text" class="form-control form-control-sm" id="latitude" formControlName="latitude" placeholder="Latitude">
                </div>
            </div>
    
          <div class="text-end col-10">
            <button type="submit" class="btn btn-primary btn-sm">Add Practice</button>
          </div>
        </form>
    </div>
</div>
