.main-content {
    margin-left: 150px; /* Adjust based on your sidebar width */
    padding: 10px; /* Adjust based on your design */
}
  .add-dso-button {
    margin-bottom: 10px; /* Adjust the value as needed */
}

