<div class="main-content">
  <div class="row mb-1">
    <label for="state" class="col-sm-1 col-form-label" style="font-weight: bold;">State:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control form-control-sm" id="state" [(ngModel)]="searchState" required placeholder="State">
    </div>
    
    <label for="state" class="col-sm-1 col-form-label" style="font-weight: bold;">Name:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control form-control-sm" id="state" [(ngModel)]="searchName" required placeholder="Name">
    </div>

    <div class="col-sm-5 d-flex align-items-center">
      <label class="me-3" for="nameDropdown" style="font-weight: bold;">Or Dso:</label>
      <div style="width: 150px;">
        <select id="nameDropdown" [(ngModel)]="selectedNameDso" class="form-control form-control-sm">
          <option value="">None</option> <!-- Empty value for no selection -->
          <option *ngFor="let nameDso of namesListDso" [value]="nameDso">{{ nameDso }}</option>
        </select>
      </div>

      <div class="col-sm-5 d-flex align-items-center">
        <label class="ms-2 me-3" for="zoneDropdown" style="font-weight: bold;">Or Zone:</label>
        <div style="width: 150px;">
          <select id="zoneDropdown" [(ngModel)]="selectedZone" class="form-control form-control-sm">
            <option value="">None</option>
            <option *ngFor="let zone of zonesList" [value]="zone">{{ zone }}</option>
          </select>
        </div>
      </div>

      <div class="col-1 ms-4">
        <button type="button" class="btn btn-primary btn-sm" (click)="fetchDataForPracticeGrids(currentPaginationPage)">Search</button>
      </div>
    </div>
  </div>
</div>

    
  <!--  <div class="row">
        <div class="col-2">
          <button type="button" class="btn btn-primary btn-sm" (click)="openPracticePayloadFormDialog()">Open Practice Form</button>
        </div>

        <div class="col-2">
            <button type="button" class="btn btn-primary btn-sm" (click)="openLocationPayloadFormDialog()">Open Location Form</button>
        </div>
    </div> -->



<div class="main-content">
    <div class="row"  *ngIf="practiceData.length > 0">
      <h2 style="text-align:left">Practice:</h2>
      <div class="col-12">
        <app-shared-datagrid
          [data]="practiceData"
          [columns]="practiceColumns"
          [showCheckboxColumn]="showCheckboxColumn"
          (selectRow)="onPracticeRowSelected($event)"
          (selectCheckbox)="onPracticeCheckboxSelected($event.checked, $event.row)"
          [maxHeight]="'400px'"
        ></app-shared-datagrid>
      </div>

      <div class="row mt-2">
        <!-- Show total records -->
        <!--Pagination controls -->
        <div class="pagination-controls" style="text-align: right;">

          <span class="ml-auto me-5"  style="text-align: right; font-weight: bold;">Total Records: {{ practiceTotalItems | number: '1.0-0' }}</span>

        <button type="button" class="btn btn-primary btn-sm" (click)="fetchDataForPracticeGrids(currentPaginationPage - 1)" [disabled]="currentPaginationPage === 1">Previous</button>
        <span class="m-1">{{ currentPaginationPage }}</span>
        <button type="button" class="btn btn-primary btn-sm" (click)="fetchDataForPracticeGrids(currentPaginationPage + 1)" [disabled]="practiceData.length < 10">Next</button>
        </div>
      </div>
    </div>

      <div class="row" *ngIf="selectedCheckboxRows.length > 0">
        <div class="col-sm-8 d-flex align-items-center">
          <label class="me-2" for="nameDropdown" style="font-weight: bold;">Select Dso:</label>
          <div style="width: 200px;">
              <select id="nameDropdown" [(ngModel)]="selectedNameDso" class="form-control form-control-sm">
                  <option value="">None</option> <!-- Empty value for no selection -->
                  <option *ngFor="let nameDso of namesListDso" [value]="nameDso">{{ nameDso }}</option>
             </select>
         </div>
      
          <button type="button" class="btn btn-primary btn-sm m-2" (click)="onDsoNameSelected()">Acquire Selected Practice(s)</button>
        </div>
      </div>
</div>


<div class="main-content">
    <div class="row mt-5" *ngIf="locationData.length > 0">
        <div class="col-12">
          <app-shared-datagrid
            [data]="locationData" [showCheckboxColumn]="showCheckboxColumn" [columns]="locationColumns" 
            (selectCheckbox)="onLocationCheckboxSelected($event.checked, $event.row)"
            [maxHeight]="'400px'"
          ></app-shared-datagrid>
        </div>

        <div class="row mt-2">
          <!-- Show total records -->
          <!--Pagination controls -->
          <div class="pagination-controls" style="text-align: right;">
  
            <span class="ml-auto me-5"  style="text-align: right; font-weight: bold;">Total Records: {{ locationTotalItems | number: '1.0-0' }}</span>
  
          <!--<button type="button" class="btn btn-primary btn-sm" (click)="fetchDataForPracticeGrids(currentPaginationPage - 1)" [disabled]="currentPaginationPage === 1">Previous</button>
          <span class="m-1">{{ currentPaginationPage }}</span>
          <button type="button" class="btn btn-primary btn-sm" (click)="fetchDataForPracticeGrids(currentPaginationPage + 1)" [disabled]="practiceData.length < 10">Next</button>
          </div>-->
        </div>

        <div class="row" *ngIf="selectedLocationCheckboxRows.length > 0">
          <!-- Button to trigger the pop-up for location -->
        <div class="col-3 mt-2">
          <button type="button" class="btn btn-primary btn-sm m-2" (click)="onLocationsSelected()">Acquire Selected Location(s)</button>
        </div>
     </div>
    </div>
   </div>

